<a href="https://colab.research.google.com/github/harsha1067/ASSIGNMENTS/blob/main/Programming_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Requirements**
1. When you work on this assignment, you should make a copy of this notebook in Google Colab. This can be done using the option `File > Save a copy in Drive` in Google Colab.

2. You should fill in your answer for each task inside the code block right under the task.

3. You should only insert your code into the designated code blocks, as mentioned above. Other than that, you shouldn't change anything else in the notebook, unless otherwise instructed.

4.  For each code block, you are free to use multiple lines of code.

5.   Even if you can only partially solve a task, you should include your code in the code block, which allows us to consider partial credit.

6.   However, your code should not raise errors. Any code raising errors will not get partial credit.

7.   We will test your code in Google Colab. Make sure your code runs in Google Colab.

10. To submit your assignment, download your Colab into a .ipynb file. This can be done using the option `Download > Download .ipynb` in Google Colab.

11. Submit the downloaded .ipynb file into the Programming Assignment 3 entry in Canvas.

## **Task1: Pandas:DataFrame**(60)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# DATA URL SOURCES ###############################
eng_url     = 'https://andybek.com/pandas-eng'
state_url   = 'https://andybek.com/pandas-state'
party_url   = 'https://andybek.com/pandas-party'
liberal_url = 'https://andybek.com/pandas-liberal'
ivies_url   = 'https://andybek.com/pandas-ivies'
##################################################

In [3]:
#Create 5 dataframes(eng,state,party,liberal,ivies) from the 5 csv files uploaded above.
eng_url = pd.read_csv(eng_url)
state_url = pd.read_csv(state_url)
party_url = pd.read_csv(party_url)
liberal_url = pd.read_csv(liberal_url)
ivies_url = pd.read_csv(ivies_url)

In [7]:
#Use a function to retreive information on the first 10 rows of your dataframe.
def get_first_10_rows(dataframe):
  '''
  Retrieve info about the first 10 rows of a dataframe.

  Parameters:
  - dataframe: PandasDataFrame

  Returns:
  - None (prints information)
  '''
  print(f"Shape of the dataframe: {dataframe.shape}")
  print("\nFirst 10 rows of the dataframe:")
  print(dataframe.head(10))
  print("\nSummary statistics:")
  print(dataframe.describe())
  print("\nInfo about the dataframe:")
  print(dataframe.info())

get_first_10_rows(eng_url)
get_first_10_rows(state_url)
get_first_10_rows(party_url)
get_first_10_rows(liberal_url)
get_first_10_rows(ivies_url)

Shape of the dataframe: (19, 4)

First 10 rows of the dataframe:
                                    School Name  School Type  \
0   Massachusetts Institute of Technology (MIT)  Engineering
1      California Institute of Technology (CIT)  Engineering
2                           Harvey Mudd College  Engineering
3  Polytechnic University of New York, Brooklyn  Engineering
4                                  Cooper Union  Engineering
5         Worcester Polytechnic Institute (WPI)  Engineering
6              Carnegie Mellon University (CMU)  Engineering
7        Rensselaer Polytechnic Institute (RPI)  Engineering
8               Georgia Institute of Technology  Engineering
9                      Colorado School of Mines  Engineering

  Starting Median Salary Mid-Career Median Salary
0            $72,200.00              $126,000.00
1            $75,500.00              $123,000.00
2            $71,800.00              $122,000.00
3            $62,400.00              $114,000.00
4            $62,200.00              $114,000.00
5            $61,000.00              $114,000.00
6            $61,800.00              $111,000.00
7            $61,100.00              $110,000.00
8            $58,300.00              $106,000.00
9            $58,100.00              $106,000.00

Summary statistics:
                                        School Name  School Type  \
count                                            19           19
unique                                           19            1
top     Massachusetts Institute of Technology (MIT)  Engineering
freq                                              1           19

       Starting Median Salary Mid-Career Median Salary
count                      19                       19
unique                     19                       15
top               $72,200.00              $114,000.00
freq                        1                        3

Info about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Name               19 non-null     object
 1   School Type               19 non-null     object
 2   Starting Median Salary    19 non-null     object
 3   Mid-Career Median Salary  19 non-null     object
dtypes: object(4)
memory usage: 736.0+ bytes
None
Shape of the dataframe: (175, 4)

First 10 rows of the dataframe:
                                         School Name School Type  \
0                 University of California, Berkeley       State
1                       University of Virginia (UVA)       State
2                           Cal Poly San Luis Obispo       State
3     University of California at Los Angeles (UCLA)       State
4         University of California, San Diego (UCSD)       State
5                    University of California, Davis       State
6             University of Colorado - Boulder (UCB)       State
7             University of California, Irvine (UCI)       State
8  University of Illinois at Urbana-Champaign (UIUC)       State
9                               Texas A&M University       State

  Starting Median Salary Mid-Career Median Salary
0            $59,900.00              $112,000.00
1            $52,700.00              $103,000.00
2            $57,200.00              $101,000.00
3            $52,600.00              $101,000.00
4            $51,100.00              $101,000.00
5            $52,300.00               $99,600.00
6            $47,100.00               $97,600.00
7            $48,300.00               $96,700.00
8            $52,900.00               $96,100.00
9            $49,700.00               $96,100.00

Summary statistics:
                               School Name School Type Starting Median Salary  \
count                                  175         175                    175
unique                                 175           1                    107
top     University of California, Berkeley       State            $45,400.00
freq                                     1         175                      5

       Mid-Career Median Salary
count                       175
unique                      129
top                 $72,100.00
freq                          5

Info about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Name               175 non-null    object
 1   School Type               175 non-null    object
 2   Starting Median Salary    175 non-null    object
 3   Mid-Career Median Salary  175 non-null    object
dtypes: object(4)
memory usage: 5.6+ KB
None
Shape of the dataframe: (20, 4)

First 10 rows of the dataframe:
                                         School Name School Type  \
0  University of Illinois at Urbana-Champaign (UIUC)       Party
1               University of Maryland, College Park       Party
2     University of California, Santa Barbara (UCSB)       Party
3                  University of Texas (UT) - Austin       Party
4      State University of New York (SUNY) at Albany       Party
5                         University of Florida (UF)       Party
6                   Louisiana State University (LSU)       Party
7                        University of Georgia (UGA)       Party
8                Pennsylvania State University (PSU)       Party
9                     Arizona State University (ASU)       Party

  Starting Median Salary Mid-Career Median Salary
0            $52,900.00               $96,100.00
1            $52,000.00               $95,000.00
2            $50,500.00               $95,000.00
3            $49,700.00               $93,900.00
4            $44,500.00               $92,200.00
5            $47,100.00               $87,900.00
6            $46,900.00               $87,800.00
7            $44,100.00               $86,000.00
8            $49,900.00               $85,700.00
9            $47,400.00               $84,100.00

Summary statistics:
                                              School Name School Type  \
count                                                  20          20
unique                                                 20           1
top     University of Illinois at Urbana-Champaign (UIUC)       Party
freq                                                    1          20

       Starting Median Salary Mid-Career Median Salary
count                      20                       20
unique                     20                       19
top               $52,900.00               $95,000.00
freq                        1                        2

Info about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Name               20 non-null     object
 1   School Type               20 non-null     object
 2   Starting Median Salary    20 non-null     object
 3   Mid-Career Median Salary  20 non-null     object
dtypes: object(4)
memory usage: 768.0+ bytes
None
Shape of the dataframe: (47, 4)

First 10 rows of the dataframe:
                     School Name   School Type Starting Median Salary  \
0            Bucknell University  Liberal Arts            $54,100.00
1             Colgate University  Liberal Arts            $52,800.00
2                Amherst College  Liberal Arts            $54,500.00
3              Lafayette College  Liberal Arts            $53,900.00
4                Bowdoin College  Liberal Arts            $48,100.00
5      College of the Holy Cross  Liberal Arts            $50,200.00
6             Occidental College  Liberal Arts            $51,900.00
7  Washington and Lee University  Liberal Arts            $53,600.00
8             Swarthmore College  Liberal Arts            $49,700.00
9               Davidson College  Liberal Arts            $46,100.00

  Mid-Career Median Salary
0             $110,000.00
1             $108,000.00
2             $107,000.00
3             $107,000.00
4             $107,000.00
5             $106,000.00
6             $105,000.00
7             $104,000.00
8             $104,000.00
9             $104,000.00

Summary statistics:
                School Name   School Type Starting Median Salary  \
count                    47            47                     47
unique                   47             1                     44
top     Bucknell University  Liberal Arts            $42,600.00
freq                      1            47                      2

       Mid-Career Median Salary
count                        47
unique                       40
top                $107,000.00
freq                          3

Info about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Name               47 non-null     object
 1   School Type               47 non-null     object
 2   Starting Median Salary    47 non-null     object
 3   Mid-Career Median Salary  47 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB
None
Shape of the dataframe: (8, 4)

First 10 rows of the dataframe:
                  School Name School Type Starting Median Salary  \
0           Dartmouth College  Ivy League            $58,000.00
1        Princeton University  Ivy League            $66,500.00
2             Yale University  Ivy League            $59,100.00
3          Harvard University  Ivy League            $63,400.00
4  University of Pennsylvania  Ivy League            $60,900.00
5          Cornell University  Ivy League            $60,300.00
6            Brown University  Ivy League            $56,200.00
7         Columbia University  Ivy League            $59,400.00

  Mid-Career Median Salary
0             $134,000.00
1             $131,000.00
2             $126,000.00
3             $124,000.00
4             $120,000.00
5             $110,000.00
6             $109,000.00
7             $107,000.00

Summary statistics:
              School Name School Type Starting Median Salary  \
count                   8           8                      8
unique                  8           1                      8
top     Dartmouth College  Ivy League            $58,000.00
freq                    1           8                      1

       Mid-Career Median Salary
count                         8
unique                        8
top                $134,000.00
freq                          1

Info about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Name               8 non-null      object
 1   School Type               8 non-null      object
 2   Starting Median Salary    8 non-null      object
 3   Mid-Career Median Salary  8 non-null      object
dtypes: object(4)
memory usage: 384.0+ bytes
None

In [9]:
#Concatenate eng and ivies using the Pandas concatination function and give the shape of your dataframes
concatenate_df = pd.concat([eng_url, ivies_url], axis = 0)

In [12]:
#Concatenate the 5 dataframes and drop the duplicated values of 'School Name' in your output dataframe called schools
concatenate_df = pd.concat([eng_url, state_url, party_url, liberal_url, ivies_url], ignore_index = True)
School_Name = concatenate_df.drop_duplicates(subset = "School Name")
print(f"Shape of the 'schools' dataframe: {School_Name.shape}")

Shape of the 'schools' dataframe: (249, 4)

In [14]:
#Check if the index in schools is diplicated or not
index_duplicates = School_Name.index.duplicated().any()
print(f"Are there duplicate indicies in the 'schools' dataframe? {index_duplicates}")

Are there duplicate indicies in the 'schools' dataframe? False

In [15]:
# Does schools.loc[0:2] works? and why?
School_Name.loc[0:2]
"""
The above will work. 0:2 means "from index 0 to 2 which is inclusive.
The '.loc[]' index is label-based, so it includes the specified end label ('2' in this case).

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"

In [17]:
#Explain how to fix the duplicated index problem.
School_Name = School_Name.reset_index(drop = True)
School_Name

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
...,...,...,...,...
244,Harvard University,Ivy League,"$63,400.00","$124,000.00"
245,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
246,Cornell University,Ivy League,"$60,300.00","$110,000.00"
247,Brown University,Ivy League,"$56,200.00","$109,000.00"
248,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [20]:
# Create eng2 and ivies2 from eng and ivies where the index is Set to 'School Name'.
eng2 = eng_url.set_index('School Name')
ivies2 = ivies_url.set_index('School Name')

print("eng2:")
print(eng2.head())

print("\nivies2")
print(ivies2.head())

eng2:
                                              School Type  \
School Name
Massachusetts Institute of Technology (MIT)   Engineering
California Institute of Technology (CIT)      Engineering
Harvey Mudd College                           Engineering
Polytechnic University of New York, Brooklyn  Engineering
Cooper Union                                  Engineering

                                             Starting Median Salary  \
School Name
Massachusetts Institute of Technology (MIT)             $72,200.00
California Institute of Technology (CIT)                $75,500.00
Harvey Mudd College                                     $71,800.00
Polytechnic University of New York, Brooklyn            $62,400.00
Cooper Union                                            $62,200.00

                                             Mid-Career Median Salary
School Name
Massachusetts Institute of Technology (MIT)              $126,000.00
California Institute of Technology (CIT)                 $123,000.00
Harvey Mudd College                                      $122,000.00
Polytechnic University of New York, Brooklyn             $114,000.00
Cooper Union                                             $114,000.00

ivies2
                           School Type Starting Median Salary  \
School Name
Dartmouth College           Ivy League            $58,000.00
Princeton University        Ivy League            $66,500.00
Yale University             Ivy League            $59,100.00
Harvard University          Ivy League            $63,400.00
University of Pennsylvania  Ivy League            $60,900.00

                           Mid-Career Median Salary
School Name
Dartmouth College                      $134,000.00
Princeton University                   $131,000.00
Yale University                        $126,000.00
Harvard University                     $124,000.00
University of Pennsylvania             $120,000.00

In [21]:
#Concatenate eng and ivies by using the multi-index in order to remove the duplicated index issue.
concatenate_df = pd.concat([eng2, ivies2], keys = ['eng2', 'ivies2'])
concatenate_df

                                                           School Type  \
       School Name
eng2   Massachusetts Institute of Technology (MIT)         Engineering
       California Institute of Technology (CIT)            Engineering
       Harvey Mudd College                                 Engineering
       Polytechnic University of New York, Brooklyn        Engineering
       Cooper Union                                        Engineering
       Worcester Polytechnic Institute (WPI)               Engineering
       Carnegie Mellon University (CMU)                    Engineering
       Rensselaer Polytechnic Institute (RPI)              Engineering
       Georgia Institute of Technology                     Engineering
       Colorado School of Mines                            Engineering
       Stevens Institute of Technology                     Engineering
       Illinois Institute of Technology (IIT)              Engineering
       Wentworth Institute of Technology                   Engineering
       Virginia Polytechnic Institute and State Univer...  Engineering
       South Dakota School of Mines & Technology           Engineering
       New Mexico Institute of Mining and Technology (...  Engineering
       Rochester Institute of Technology (RIT)             Engineering
       Embry-Riddle Aeronautical University (ERAU)         Engineering
       Tennessee Technological University                  Engineering
ivies2 Dartmouth College                                    Ivy League
       Princeton University                                 Ivy League
       Yale University                                      Ivy League
       Harvard University                                   Ivy League
       University of Pennsylvania                           Ivy League
       Cornell University                                   Ivy League
       Brown University                                     Ivy League
       Columbia University                                  Ivy League

                                                          Starting Median Salary  \
       School Name
eng2   Massachusetts Institute of Technology (MIT)                   $72,200.00
       California Institute of Technology (CIT)                      $75,500.00
       Harvey Mudd College                                           $71,800.00
       Polytechnic University of New York, Brooklyn                  $62,400.00
       Cooper Union                                                  $62,200.00
       Worcester Polytechnic Institute (WPI)                         $61,000.00
       Carnegie Mellon University (CMU)                              $61,800.00
       Rensselaer Polytechnic Institute (RPI)                        $61,100.00
       Georgia Institute of Technology                               $58,300.00
       Colorado School of Mines                                      $58,100.00
       Stevens Institute of Technology                               $60,600.00
       Illinois Institute of Technology (IIT)                        $56,000.00
       Wentworth Institute of Technology                             $53,000.00
       Virginia Polytechnic Institute and State Univer...            $53,500.00
       South Dakota School of Mines & Technology                     $55,800.00
       New Mexico Institute of Mining and Technology (...            $51,000.00
       Rochester Institute of Technology (RIT)                       $48,900.00
       Embry-Riddle Aeronautical University (ERAU)                   $52,700.00
       Tennessee Technological University                            $46,200.00
ivies2 Dartmouth College                                             $58,000.00
       Princeton University                                          $66,500.00
       Yale University                                               $59,100.00
       Harvard University                                            $63,400.00
       University of Pennsylvania                                    $60,900.00
       Cornell University                                            $60,300.00
       Brown University                                              $56,200.00
       Columbia University                                           $59,400.00

                                                          Mid-Career Median Salary
       School Name
eng2   Massachusetts Institute of Technology (MIT)                    $126,000.00
       California Institute of Technology (CIT)                       $123,000.00
       Harvey Mudd College                                            $122,000.00
       Polytechnic University of New York, Brooklyn                   $114,000.00
       Cooper Union                                                   $114,000.00
       Worcester Polytechnic Institute (WPI)                          $114,000.00
       Carnegie Mellon University (CMU)                               $111,000.00
       Rensselaer Polytechnic Institute (RPI)                         $110,000.00
       Georgia Institute of Technology                                $106,000.00
       Colorado School of Mines                                       $106,000.00
       Stevens Institute of Technology                                $105,000.00
       Illinois Institute of Technology (IIT)                          $97,800.00
       Wentworth Institute of Technology                               $96,700.00
       Virginia Polytechnic Institute and State Univer...              $95,400.00
       South Dakota School of Mines & Technology                       $93,400.00
       New Mexico Institute of Mining and Technology (...              $93,400.00
       Rochester Institute of Technology (RIT)                         $84,600.00
       Embry-Riddle Aeronautical University (ERAU)                     $80,700.00
       Tennessee Technological University                              $80,000.00
ivies2 Dartmouth College                                              $134,000.00
       Princeton University                                           $131,000.00
       Yale University                                                $126,000.00
       Harvard University                                             $124,000.00
       University of Pennsylvania                                     $120,000.00
       Cornell University                                             $110,000.00
       Brown University                                               $109,000.00
       Columbia University                                            $107,000.00

In [22]:
#Use the append function to concatenate 'liberal' and 'party' dataframes
concat_liberal_party = liberal_url.append(party_url)
concat_liberal_party

<ipython-input-22-2fadaeec1144>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  concat_liberal_party = liberal_url.append(party_url)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Bucknell University,Liberal Arts,"$54,100.00","$110,000.00"
1,Colgate University,Liberal Arts,"$52,800.00","$108,000.00"
2,Amherst College,Liberal Arts,"$54,500.00","$107,000.00"
3,Lafayette College,Liberal Arts,"$53,900.00","$107,000.00"
4,Bowdoin College,Liberal Arts,"$48,100.00","$107,000.00"
...,...,...,...,...
15,University of New Hampshire (UNH),Party,"$41,800.00","$78,300.00"
16,West Virginia University (WVU),Party,"$43,100.00","$78,100.00"
17,University of Tennessee,Party,"$43,800.00","$74,600.00"
18,Ohio University,Party,"$42,200.00","$73,400.00"
19,Florida State University (FSU),Party,"$42,100.00","$73,000.00"

In [24]:
regions_url = 'https://andybek.com/pandas-regions'

In [25]:
# Create the dataframe 'regions'
regions_df = pd.read_csv(regions_url)
regions_df

                                      School Name        Region
0     Massachusetts Institute of Technology (MIT)  Northeastern
1        California Institute of Technology (CIT)    California
2                             Harvey Mudd College    California
3    Polytechnic University of New York, Brooklyn  Northeastern
4                                    Cooper Union  Northeastern
..                                            ...           ...
264                  Austin Peay State University      Southern
265                    Pittsburg State University    Midwestern
266                      Southern Utah University       Western
267           Montana State University - Billings       Western
268                  Black Hills State University    Midwestern

[269 rows x 2 columns]

In [26]:
# Merge the 2 dataframes schools and regions
merge = pd.merge(School_Name, regions_df, on = 'School Name', how = 'inner')
merge

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Northeastern
...,...,...,...,...,...
264,Harvard University,Ivy League,"$63,400.00","$124,000.00",Northeastern
265,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",Northeastern
266,Cornell University,Ivy League,"$60,300.00","$110,000.00",Northeastern
267,Brown University,Ivy League,"$56,200.00","$109,000.00",Northeastern
268,Columbia University,Ivy League,"$59,400.00","$107,000.00",Northeastern

In [28]:
# Merge schools and regions on the column name 'School Name'
merge_col = School_Name.merge(regions_df, left_index = True, right_index = True, how = 'inner')
merge_col

,School Name_x,School Type,Starting Median Salary,Mid-Career Median Salary,School Name_y,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Massachusetts Institute of Technology (MIT),Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California Institute of Technology (CIT),California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",Harvey Mudd College,California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","Polytechnic University of New York, Brooklyn",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Cooper Union,Northeastern
...,...,...,...,...,...,...
244,Harvard University,Ivy League,"$63,400.00","$124,000.00",Appalachian State University,Southern
245,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",Virginia Commonwealth University (VCU),Southern
246,Cornell University,Ivy League,"$60,300.00","$110,000.00",University of Wisconsin (UW) - Stout,Midwestern
247,Brown University,Ivy League,"$56,200.00","$109,000.00",East Carolina University (ECU),Southern
248,Columbia University,Ivy League,"$59,400.00","$107,000.00",Utah Valley State College,Western

In [29]:
income_url = 'https://andybek.com/pandas-mid'

In [30]:
#Create Dataframe (mid_career) from the file income
mid_career = pd.read_csv(income_url)
mid_career.head()

,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,NaN,"$80,200.00","$142,000.00",NaN

In [38]:
# Merge mid_career and schools on the arguments left_on and right_on and drop the duplicated column.

# Print the column names of mid_career and schools to verify the correct column names
print("Columns in mid_career:", mid_career.columns)
print("Columns in schools:", School_Name.columns)

# Merge 'mid_career' and 'schools' on the common column 'school_name'
merged_career_schools = pd.merge(mid_career, School_Name, left_on='school_name', right_on='School Name', how='inner')

# Drop the duplicated column ('School Name' from 'schools')
merged_career_schools = merged_career_schools.drop(columns=['School Name'])

# Print the resulting merged dataframe
print(merged_career_schools)

Columns in mid_career: Index(['school_name', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')
Columns in schools: Index(['School Name', 'School Type', 'Starting Median Salary',
       'Mid-Career Median Salary'],
      dtype='object')
                                      school_name  \
0     Massachusetts Institute of Technology (MIT)
1        California Institute of Technology (CIT)
2                             Harvey Mudd College
3    Polytechnic University of New York, Brooklyn
4                                    Cooper Union
..                                            ...
264                  Austin Peay State University
265                    Pittsburg State University
266                      Southern Utah University
267           Montana State University - Billings
268                  Black Hills State University

    Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary  \
0                         $76,800.00                        $99,200.00
1                                 NaN                      $104,000.00
2                                 NaN                       $96,000.00
3                         $66,800.00                        $94,300.00
4                                 NaN                       $80,200.00
..                                ...                               ...
264                       $32,200.00                        $40,500.00
265                       $25,600.00                        $46,000.00
266                       $30,700.00                        $39,700.00
267                       $22,600.00                        $31,800.00
268                       $27,000.00                        $32,200.00

    Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary  \
0                        $168,000.00                       $220,000.00
1                        $161,000.00                                NaN
2                        $180,000.00                                NaN
3                        $143,000.00                       $190,000.00
4                        $142,000.00                                NaN
..                                ...                               ...
264                       $73,900.00                        $96,200.00
265                       $84,600.00                       $117,000.00
266                       $78,400.00                       $116,000.00
267                       $78,500.00                        $98,900.00
268                       $60,900.00                        $87,600.00

     School Type Starting Median Salary Mid-Career Median Salary
0    Engineering            $72,200.00              $126,000.00
1    Engineering            $75,500.00              $123,000.00
2    Engineering            $71,800.00              $122,000.00
3    Engineering            $62,400.00              $114,000.00
4    Engineering            $62,200.00              $114,000.00
..           ...                    ...                      ...
264        State            $37,700.00               $59,200.00
265        State            $40,400.00               $58,200.00
266        State            $41,900.00               $56,500.00
267        State            $37,900.00               $50,600.00
268        State            $35,300.00               $43,900.00

[269 rows x 8 columns]

Q1: Concatenate the *liberal* and *state* schools into a new dataframe. How many unique school names are there?

In [ ]:
#Q1:Code

Q2: What is the average median starting salary in the dataframe created above?

In [ ]:
#Q2:Code

Q3: Create a short dataframe that shows the top 3 *liberal* arts and *state* schools that produce the highest (mid-career) earning graduates.

Show the *School Name* and *Mid-Career Median Salary* columns from each dataset, side by side, i.e. <ins>horizontally</ins>.

Nest the column labels within 'Liberal Arts' and 'State' labels.

In [ ]:
#Q3:Code

Q4: Merge *liberal* arts schools with *regions* and assign the resulting dataframe to *dfm*. What region has the highest number of liberal arts schools?

In [ ]:
#Q4:Code

Q5: Set *school_name* as the index of the *mid_career* dataframe. Do the operation inplace.

In [ ]:
#Q5:Code

Q6: Merge the *dfm* and *mid_career* dataframes. Is the join operation one-to-one?

In [ ]:
#Q6:Code

Create dataframe games

In [ ]:
#Dataframe creation
games_url = 'https://andybek.com/pandas-games'

Q7: What are the total sales across all regions?

In [ ]:
#Q7-Code

 Q8: Find the total sales by region for X360 and PS3.

In [ ]:
#8-Code

Q9: How much does each platform sell across regions, on average?

Q10: Create a smaller dataframe from *games*, selecting only the Publisher, Genre, Platform, and NA_Sales columns. Assign this dataframe to the variable *publishers*.

In [ ]:
#Q10-Code

Q11: From the *publishers* dataframe, find the top 10 game publishers in North America by total sales.

In [ ]:
#Q11-Code

Q12: What is the gaming platform that has attracted the most sales in North America?

In [ ]:
#Q12:Code

In [ ]:
#Create Dataframe sat
sat_url = 'https://andybek.com/pandas-sat'

sat = pd.read_csv(sat_url)
sat

Q13: Starting with our main dataframe (*sat*), create a pivot table that summarizes the <ins>total</ins> student enrollment (Student Enrollment) across all 5 boroughs (*Borough*).

Which boroughs have the highest and lowest high school student bodies?

In [ ]:
#Q13

Q14: Modify the pivot table from the step above to also reflect the average student body size (*Student Enrollment*) across boroughs, in the same pivot table.

In [ ]:
#Q14

Q15: Create a pivot table of high schools from the Queens borough (*Borough*), containing the SAT section scores (*SAT Section*, *Score*) as columns and the school name (*School Name*) as index. Sort the table in descending order by math section scores.

In [ ]:
#Q15